
body {
    font-family: Arial, Helvetica, sans-serif;
}
.image-container {
    display: flex;
}
.image-container img {
    width: 100%;
}
header {
    background: #ede8dd;
    display: flex;
    padding: 10px 50px; 
}
#logo {
    width: 70px;
}
#logo img {
    border-radius: 100%;
    border: 2px solid #fff;
}
.MenuHorizontal {
  position: relative;
  float: right;
  padding: 0;
  margin: 0 auto;
}
nav {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-bottom: 4px solid #f16132;
  float: right;
}

nav a:hover{
  color: #f16132;
}
.opciones a:hover {
  color: #000000;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  }

nav ul li {
  display:inline-block;
  padding: 0 10px;
}

nav a {
  display: block;
  padding: 15px 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute; 
  top: 100%; 
}

nav ul li:hover > ul {
  display:inherit;
}

nav ul ul ul {
  margin-left: 100%; 
  top:0; 
}

.boton-desplegable {
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.boton-desplegable span {
  margin-right: 10px;
}
.opciones {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.766);
  z-index: 1;
}
.boton-desplegable:hover .opciones {
  display: block;
}

.linkGithub {
  margin-left: 10px;
  align-items: center;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  background: #23272d;
  display:  flex;
  justify-content: center;
  list-style: none;
}
.linkGithub #Github {
  padding: 15px;
}

.textoDescriptivo #logosLenguajes img{
  width: 70px;
  margin: 10px;
  display: flex;
}

.visor-imagenes img {
  margin: 0 auto;
  display: none;
  padding: 10px;
  max-width: 600px;
  min-width: 300px;
  width: 80%;
  
}

  .visor-imagenes .active {
    display: block;
  }
  .buttons {
    position: static;
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-bottom: 20px;
  }
  .buttons #siguiente {
    left: 10px;
    background-color: #f16132;;
    border-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  .buttons #anterior {
    right: 10px;
    background-color: #f16132;
    border-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 30px;
    cursor: pointer;
    border-radius: 16px;
  }
  .textoDescriptivo {
    color: #000000;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
  }
  .textoDescriptivo .tituloPrograma {
    font-family: fantasy;
    color: #656599;
  }
  
  footer .Contacto {
    display:  flex;
    justify-content: center;
    padding: 20px;
    background: #000000;
    text-decoration: none;
}
footer .Contacto #email{
    color: #fff;
}